@font-face {
  font-family: "inter";
  src: url("../../assets/fonts/static/Inter-Regular.ttf");
}

body {
  margin: 0;
  font-family: "inter";
  color: aliceblue;
  background-color: rgb(33, 32, 32);
}
.attribution {
  font-size: 10px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #ffff;
}

@media (max-width: 600px) {
  .attribution {
    max-width: 300px;
    margin: 0 auto;
  }
}
