.container {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.front {
  margin: 50px 10px 10px;
  padding: 20px;
  width: min(90%, 400px);
  text-align: center;
  background-color: rgb(14, 14, 14);
  border-radius: 10px;
}

img {
  width: 100px;
  height: 100px;
  border-radius: 60%;
  margin-top: 20px;
}

.country {
  margin-bottom: 40px;
  color: hsl(75, 94%, 57%);
}

.menu {
  display: grid;
  grid-template-columns: minmax(230px, 380px);
  grid-gap:15px;
  justify-content: center;
  padding-left: 10px;
}

.menu li {
  display: grid;
  border-radius: 6px;
  padding: 15px;
  background-color: hsl(0, 0%, 20%);
  cursor: pointer;
  transition: 0.2s;
}

.menu li:hover {
  background-color: hsl(75, 94%, 57%);
  color: #ffff;
}

@media (max-width: 600px) {
  .container {
    display: flex;
    margin: 0 auto;
    max-width: 400px;
  }
}